body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #AAD095;
  height: 100vh;
  display: flex;
  justify-content: center; /*возможно глючил - есть задержка сервера виртуального - тут пока четко  */
  align-items: center;
}
